
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html>
<head>
    <title>Creative Colorlib SignUp Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->
    <link href="~/Content/Login/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //Custom Theme files -->
    <!-- web font -->
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
    <!-- //web font -->
</head>
<body>
    <!-- main -->
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="main-w3layouts wrapper">
            <h1>Đăng ký</h1>
            <div class="main-agileinfo">
                <div class="agileits-top">
                    <form action="#" method="post">
                        <input class="text" type="text" name="TenKH" placeholder="Họ tên" required="">
                        <input class="text email" type="text" name="EmailKH" placeholder="Email" required="">
                        <input class="text email" type="text" name="SDTKH" placeholder="Số điện thoại" required="">
                        <input class="text" type="password" name="MKKH" placeholder="Mật khẩu" required="">
                        <input class="text w3lpass" type="password" name="asd" placeholder="Nhập lại mật khẩu" required="">
                        <div class="wthree-text">
                            <label class="anim">
                                <input type="checkbox" class="checkbox" required="">
                                <span>Tôi đồng ý với các điều khoản</span>
                            </label>
                            <div class="clear"> </div>
                        </div>
                        <input type="submit" value="Đăng ký" class="btn" name="submit">
                    </form>
                    <p>Bạn đã có tài khoản? <a href="~/Home/Login"> Đăng nhập ngay!</a></p>
                </div>
                <ul class="colorlib-bubbles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <!-- //main -->
        </div>
        }
    </body>
</html>

