@model HomeStayWeb.Models.LoaiPhong

@{
    ViewBag.Title = "Xóa";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Xóa</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên loại phòng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLP)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Trở về", "Index")
        </div>
    }
</div>
