@model HomeStayWeb.Models.LoaiPhong

@{
    ViewBag.Title = "THÔNG TIN CHI TIẾT";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>THÔNG TIN CHI TIẾT</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên loại phòng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLP)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.IDLP }) |
    @Html.ActionLink("Trở về", "Index")
</p>
