﻿
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Huy Admin</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="~/Content/Admin_Content/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/Content/Admin_Content/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/Admin_Content/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/Content/Admin_Content/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Stylesheet -->
    <link href="~/Content/Admin_Content/css/style.css" rel="stylesheet" />
</head>

<body>
    <div class="container-fluid position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->
        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-light navbar-light">
                <a href="#" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>ADMIN</h3>
                </a>
                <div class="navbar-nav w-100">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Quản lý</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/Admin/DanhGias_Admin/Index" class="dropdown-item">Đánh giá</a>
                            <a href="/Admin/DatPhongs_Admin/Index" class="dropdown-item">Đặt phòng</a>
                            <a href="/Admin/KhachHangs_Admin/Index" class="dropdown-item">Khách hàng</a>
                            <a href="/Admin/LoaiPhongs_Admin/Index" class="dropdown-item">Loại phòng</a>
                            <a href="/Admin/NhanViens_Admin/Index" class="dropdown-item">Nhân viên</a>
                            <a href="/Admin/Phongs_Admin/Index" class="dropdown-item">Phòng</a>
                            <a href="/Admin/ThanhToans_Admin/Index" class="dropdown-item">Thanh toán</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->
        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
                <a href="#" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="navbar-nav align-items-center ms-auto">
                </div>
            </nav>
            <!-- Navbar End -->
            @RenderBody()
            <!-- Footer Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light rounded-top p-4">
                    <div class="row">
                        <div class="col-12 col-sm-6 text-center text-sm-start">
                            &copy; <a href="#">Admin Areas</a>, Admin Huy.
                        </div>
                        <div class="col-12 col-sm-6 text-center text-sm-end">
                            Designed By <a href="#">Quoc Huy</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->
        </div>
        <!-- Content End -->
        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>
    <!-- JavaScript Libraries -->
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/Admin_Content/lib/chart/chart.min.js"></script>
    <script src="~/Content/Admin_Content/lib/easing/easing.min.js"></script>
    <script src="~/Content/Admin_Content/lib/waypoints/waypoints.min.js"></script>
    <script src="~/Content/Admin_Content/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/Content/Admin_Content/lib/tempusdominus/js/moment.min.js"></script>
    <script src="~/Content/Admin_Content/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="~/Content/Admin_Content/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <!--Javascript -->
    <script src="~/Content/Admin_Content/js/main.js"></script>
    @RenderSection("scripts", false)
</body>

</html>